# vim: filetype=yaml
# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json

gui:
  authorColors:
    '*svc*': '#cad3f5'
    'Ava Koman': '#f5bde6'

  branchColors:
    'koman': '#f5bde6'
    'bugfix': '#f5a97f'
    'feature': '#ee99a0'
    'release': '#a6da95'
    'master': '#c6a0f6'
    'main': '#c6a0f6'

  nerdFontsVersion: "3"
  scrollOffMargin: 4
  scrollOffBehavior: margin
  expandFocusedSidePanel: true

services:
    {{- if .work }}
    'bitbucket.wdc.com': 'bitbucketServer:bitbucket.wdc.com'
    {{- end }}
    'github.com': 'github:gitservicework.com'

git:
  parseEmoji: true
  {{ if .work -}}
  branchPrefix: "koman/"
  {{- end }}
  pagers:
      {{- if ne .chezmoi.os "windows" }}
      - pager: delta --paging=never --line-numbers
        colorArg: always
      {{- end }}
      - externalDiffCommand: difft --color=always --display=inline


os:
  editPreset: 'nvim'

