# vim: syntax=yaml

gui:
  authorColors:
    '*svc*': '#cad3f5'
    'Andrew Koman': '#7dc4e4'
    'Ava Koman': '#f5bde6'

  branchColors:
    'koman': '#f5bde6'
    'bugfix': '#f5a97f'
    'feature': '#ee99a0'
    'release': '#a6da95'
    'master': '#c6a0f6'
    'main': '#c6a0f6'

  nerdFontsVersion: 3
  scrollOffMargin: 4
  scrollOffBehavior: margin
  expandFocusedSidePanel: true

services:
    {{- if .work }}
    'bitbucket.wdc.com': 'bitbucketServer:bitbucket.wdc.com'
    {{- else }}
    'github.com': 'github:gitservicework.com'
    {{- end }}

git:
  paging:
    parseEmoji: true
    {{- if eq .chezmoi.os "windows" }}
    externalDiffCommand: difft --color=always --display=inline
    {{- else }}
    colorArg: always
    pager: delta --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
    {{- end }}

    {{ if .work -}}
    branchPrefix: "koman/"
    {{- end }}

os:
  editPreset: 'nvim'

