{{ $email := promptString "email" -}}
{{ $work := promptBool "Work System" }}

sourceDir = "~/.dotfiles"

[cd]
{{ if eq .chezmoi.os "windows" }}   command = "C:/Program Files/PowerShell/7/pwsh.exe"{{ end }}

[data]
    email = {{ $email | quote }}
    work = {{ $work }}

[keepassxc]
    database = "{{ .chezmoi.homeDir }}/Documents/Chezmoi.kdbx"
    args = ["--no-password", "--key-file", "{{ .chezmoi.homeDir }}/.chezmoi.keyx"]
    prompt = false
