[user]
    name = Andrew Koman
    email = {{ .email }}

[init]
    defaultBranch = main

[color]
    ui = auto

[include]
    path = ~/.config/git/catppuccin.gitconfig

[core]
    pager = delta
    editor = nvim
    excludesfile = {{ .chezmoi.homeDir }}/.config/git/.gitignore
    {{- if eq .chezmoi.os "windows" -}}
    sshCommand = C:/Windows/System32/Openssh/ssh.exe
    {{- end }}

[branch]
    autosetuprebase = always

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[fetch]
    prune = true

[pager]
    blame = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    features = catppuccin-macchiato
    hyperlinks = true

[merge]
    conflictstyle = diff3
    ff = false
    tool = nvimdiff

[mergetool.nvimdiff]
    layout = "LOCAL,BASE,REMOTE / MERGED + BASE,LOCAL + BASE,REMOTE + MERGED"

[diff]
    colorMoved = default

[alias]
    nevermind = reset --hard HEAD
    cleanup = clean -xfd
    lg1 = log --decorate --oneline --graph
    lga1 = lg1 --all
    lg2 = log --oneline --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lga2 = lg2 --all
    lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg = lg1
    lga = lga1

