{{ if not .window.decorations -}}
frame = "none"
{{- end }}
{{ if eq .chezmoi.os "linux" -}}
{{ if stat "/usr/local/bin/nvim" -}}
neovim-bin = "/usr/local/bin/nvim"
{{ else if stat "/usr/bin/nvim" -}}
neovim-bin = "/usr/bin/nvim"
{{ else -}}
neovim-bin = "/usr/bin/env nvim"
{{ end -}}

{{- else if eq .chezmoi.os "darwin" -}}
{{ if stat "/opt/homebrew/bin/nvim" -}}
neovim-bin = "/opt/homebrew/bin/nvim"
{{ else -}}
neovim-bin = "/usr/bin/env nvim"
{{ end -}}

{{- else if eq .chezmoi.os "windows" -}}
neovim-bin = "{{ .chezmoi.homeDir }}/scoop/shims/nvim.exe"
{{- end }}
title-hidden = true
fork = true

[font]
    normal = "JetBrainsMono Nerd Font"
    size = 14.0
    edging = "antialias"

[font.features]
    "JetBrainsMono Nerd Font" = [ "+cv02", "+cv05", "+cv09", "+cv14", "+ss04", "+cv16", "+cv31", "+cv25", "+cv26", "+cv32", "+cv28", "+ss10", "+zero", "+onum"]

